@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base: #F04E29;
    /* cor laranja, principal do site */
    --detalhes: #000000;
    /*preto para detalhes */
    --texto-suave: rgba(0, 0, 0, 0.5);
    /*texto da caixa de entrada */
    --branco: #FFFFFF;
    /*branco */
    --corborda: #F8F7F6;

    --fontepadrao:'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    /*ajuste de tamanho da página*/
    margin: 0;
    /*tirando a margem padrão */
    padding: 0;
    /*tirando o padding padrão */
    font-family: "Noto Sans", sans-serif;
    /* definindo a fonte padrão */
    
}

html {
    scroll-behavior: smooth;
    /* deixa o scroll da página suave */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding: 40px;
    background-color: var(--bg-home);
}

.nav,
.nav-underline {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5%;
    width: 100%;
}

.logo {
    width: 20%
}

.input-group-text {
    border-color: var(--base);
    size: 1.5em;
    margin: 0.3rem;
}

.form-control {
    border-color: var(--base);
    size: 1.5em;
    margin: 0.3rem;
}

.col-lg-2 {
    margin: 0.5em;
    gap: 10%;
}


.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 700;
    color: var(--base);
    border-bottom-color: currentcolor;
} 

.nav {
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: black;
    --bs-nav-link-disabled-color:black;
    gap: 4rem;
}

.col, .col-lg-2{
    gap: 1.5rem;
}

.notificacoes{
    width: 20%;
}

.perfil{
    width: 40%;
}

hr {
    height: 1px; /* Define a espessura da linha */
    background-color: black; /* Define a cor da linha */
    border: none; /* Remove a borda padrão do navegador */
    margin: 20px 0; /* Define a margem superior e inferior */
    opacity: 80%;
}



/* Estilo para ajustar a altura da barra de navegação se necessário */
.navbar {
    min-height: 60px;
}

/* Ajusta o campo de pesquisa para ter a largura desejada */
.input-group input.rounded-pill {
    padding-right: 1.5rem !important; /* Adiciona espaço para o ícone de pesquisa, se usado */
}

/* Estilo para os cards do catálogo ficarem alinhados */
.card {
    border-radius: 10px; /* Leve arredondamento nos cantos */
}

/* Opcional: Estilo para centralizar as imagens dentro dos cards, garantindo que o texto fique abaixo */
.card-body img {

    display: block;
    margin: 0 auto 10px auto;
}


.fundo-azul-recompensa {
    background-color: #10C5E1; /* Seu tom de azul desejado */
    padding: 10px; /* Opcional: Para criar um espaço entre a imagem e a borda do fundo */
    border-radius: 5px; /* Opcional: Para arredondar os cantos do fundo */
    display: inline-block; /* Importante para que o padding e a largura funcionem corretamente */
}

/* Você pode querer definir a fonte para ser mais parecida com a da imagem, se necessário */
/* body {
    font-family: Arial, sans-serif; 
} */