@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base: #F04E29;
    /* cor laranja, principal do site */
    --detalhes: #000000;
    /*preto para detalhes */
    --texto-suave: rgba(0, 0, 0, 0.5);
    /*texto da caixa de entrada */
    --branco: #FFFFFF;
    /*branco */
}

* {
    box-sizing: border-box;
    /*ajuste de tamanho da página*/
    margin: 0;
    /*tirando a margem padrão */
    padding: 0;
    /*tirando o padding padrão */
    font-family: "Noto Sans", sans-serif;
    /* definindo a fonte padrão */
}

html {
    scroll-behavior: smooth;
    /* deixa o scroll da página suave */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    padding: 40px;
    background-color: var(--bg-home);
}

.nav,
.nav-underline {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5%;
    width: 100%;
}

.logo {
    width: 20%
}

.input-group-text {
    border-color: var(--base);
    size: 1.5em;
    margin: 0.3rem;
}

.form-control {
    border-color: var(--base);
    size: 1.5em;
    margin: 0.3rem;
}

.col-lg-2 {
    margin: 0.5em;
    gap: 10%;
}


.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 700;
    color: var(--base);
    border-bottom-color: currentcolor;
} 

.nav {
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: black;
    --bs-nav-link-disabled-color:black;
    gap: 4rem;
}

.col, .col-lg-2{
    gap: 1.5rem;
}

.notificacoes{
    width: 20%;
}

.perfil{
    width: 40%;
}

hr {
    height: 1px; /* Define a espessura da linha */
    background-color: black; /* Define a cor da linha */
    border: none; /* Remove a borda padrão do navegador */
    margin: 20px 0; /* Define a margem superior e inferior */
    opacity: 80%;
}

.bemvindo{
    margin-left: 5rem;
}

.painelacima{
    margin: 10%;
    background-color: #000000;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #F04E29;
    --bs-btn-border-color: #F04E29;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #F04E29;
    --bs-btn-hover-border-color: #F04E29;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F04E29;
    --bs-btn-active-border-color: #F04E29;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #F04E29;
    --bs-btn-disabled-border-color: #F04E29;
}

:root {
    --base: #F04E29;
    /* cor laranja, principal do site */
    --detalhes: #000000;
    /*preto para detalhes */
    --texto-suave: rgba(0, 0, 0, 0.5);
    /*texto da caixa de entrada */
    --branco: #FFFFFF;
    /*branco */

    --bs-primary: #F04E29;
    --bs-primary-rgb: #F04E29;

    --bs-primary-bg-subtle: #bf3c1f;

    --bs-primary-border-subtle: #df421e;

    --bs-primary-text-emphasis: #f05d3c;
    --bs-blue: #f04e29;
    --bs-cyan: #F04E29;
    --bs-info: #F04E29;
    --bs-btn-bg:#F04E29;
    --bs-btn-color: #fff;
    --bs-btn-bg: #F04E29;
    --bs-btn-border-color: #F04E29;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #F04E29;
    --bs-btn-hover-border-color: #F04E29;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F04E29;
    --bs-btn-active-border-color: #F04E29;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #F04E29;
    --bs-btn-disabled-border-color: #F04E29;
}